@page "/settings"
@inject NavigationManager NavManager

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<div class="ui-card">
    <DefinitionManager />
    <div class="ui-card-footer">
        <button class="ui-button-secondary" @onclick='() => NavManager.NavigateTo("/")'>Back to Home</button>
    </div>
</div>

@code {

}