@inherits LayoutComponentBase

@code {
    public bool? IsMobile { get; set; }
}

<DeviceDetector @bind-IsMobile="IsMobile"></DeviceDetector>

@if (IsMobile != null)
{
    <div class="grid-row">
        <div class="@(IsMobile == true ? "grid-col-12" : "grid-col-1")">
            <div class="ui-card">
                @if (IsMobile == false)
                {
                    <div class="ui-card-header">Navigation</div>
                }
                <div class="ui-card-body" style="display: flex; flex-direction: column; gap: 1rem; justify-content: center; align-items: center;">
                    @* This correctly passes the state down to the NavMenu *@
                    <NavMenu IsMobile="(bool)IsMobile"></NavMenu>
                </div>
            </div>
        </div>
        <div class="@(IsMobile == true ? "grid-col-12" : "grid-col-11")">
            <div class="ui-card">
                <div class="ui-card-header">Right Column</div>
                <div class="ui-card-body">@Body</div>
            </div>
        </div>
    </div>
}